$fa-font-path:        "../webfonts";
$primary-color:#537FE7;
$secondary-color: #C0EEF2;
$show-home-image:True;
$home-image: url(../img/desktop.jpg);
$background-opacity:0.9;
$portrait-image: url(../img/self.jpg);